<div class="page-header">
  <h1 class="dashboard-title">Welcome to Task Manager</h1>
</div>

<div class="jumbotron">
<ul class="dashboard-list">
  <li><i class='glyphicon glyphicon-list'></i><a class="dashboard-list-item" href="/tasks">Task Index</a></li>
  <li><i class='glyphicon glyphicon-edit'></i><a class="dashboard-list-item" href="/tasks/new">New Task</a></li>
</ul>
</div>
