<div class="page-header">
  <h3 class="task-index-title">All Tasks</h3>
</div>

<div class="col-md-4">
  <ul class="list-group">
<% @tasks.each do |task| %>
  <h3 class="task-index list-group-item"><%= task.id %>: <a href="/tasks/<%= task.id %>"><%= task.title %></a></h3>
<% end %>
</ul>
</div>
