<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/bootstrap.css">
  <link rel="stylesheet" href="/application.css">
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <title> My Sinatra Application</title>
</head>

<body>
  <div class="container">
    <%= yield %>
  </div>

  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src='/bootstrap.js'></script>

</body>
</html>
