
<form action="/tasks" method="post">
  <div class="form-group col-md-4">
    <h4>Enter a new task:</h4>
    <input class="form-control" type='text' name='task[title]' /><br/>
    <textarea class="form-control" name='task[description]'></textarea><br/>
    <button class="btn" type='submit'>Submit</button>
  </div>
</form>
