<nav class="navbar navbar-default">
<i class="glyphicon glyphicon-menu-left"></i><a class="back" href="/tasks">Task Index</a>
</nav>



<div class="well well-sm">
  <h2><%= @task.title %></h2>

  <p> <%= @task.description %></p>
</div>
